.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.iml
.idea
.ipr
.iws
*.diff
*.patch
*.bak
node_modules/
node_modules2/
.project
.settings
npm-debug.log
.*proj
.svn/
*.swp
*.swo
*.log
examples/dist/
yarn-error.log
test/unit/coverage
.vscode
package-lock.json
